.announcements {
  /* background-color: aqua; */
}

.announcement{
  /* height: 80px; */
  padding: 1rem 0;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  
  /* grid-template-columns: 0.4fr 0.4fr 0.2fr; */
  gap: 1rem;
  border-bottom: rgb(207, 207, 207) solid 1px;
}

.announcement .grid-item {  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.announcement .grid-item:nth-child(2) {  
  /* width: min-content; */
}


.announcement h1,
.announcement p {
  margin: 0;
}

.announcement p {
  font-size: 0.8rem;
    color: rgb(95, 95, 95);
}

.announcement:hover {
  background-color: #C2DCC5;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  /* text-decoration: underline; */
}

.announcement h1 {
  text-align: left;
  font-size: 1.75rem;
  font-weight: 500;
}

.announcements .announcement:nth-child(odd) {
  /* background-color: #C2DCC5; */
}

.announcements .announcement:nth-child(even) {
  /* background-color: #E1EAEE; */
}

@media screen and (max-width: 600px) {
  .announcement {
    /* grid-template-columns: 0.5fr 0.3fr 0.2fr; */
    gap: 0;
  }



  .announcement h1 {
    /* font-size: 1.25rem; */
  }

  .announcement .grid-item:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {

}