.header a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #2F8739;
}

.header {
  z-index: 100;  
  padding: 0 1.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  background-color: var(--background-color, white);
}

.header #logo {
  width: 12rem;
  height: auto;
}

.sidebar {
  display: none;
}

.top-container {
  display: flex;
  justify-content: space-between; /* Align elements to the left and right edges */
  align-items: center; 
  margin-bottom: 1.2rem;
}

.links {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  font-size: 1rem;
}

.search-icon, .menu-icon {
  height: 2rem;
  width: auto;
}

.menu-icon {
  display: none;
}

.social-media-icon {
  position: absolute;
  height: 1.6rem;
  width: auto;
  padding: 5px 5px;
  right: 0;
  top: 0;
}

.overlay {
  display: none;
}

@media screen and (max-width: 600px) {
  /* .header {
    margin-bottom: 0;
    position: relative;
    left: calc(-1*var(--small-gutter-margin, 2rem));
    width: 100%
  } */
  .header {
    padding: 0 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.%;
  }

  .search-icon {  
    display: none;
  }

  .social-media-icon {
    position: static;
    padding: 0;
  }
  
  .header #logo {
    width: 10rem;
    height: auto;
  }

  .menu-icon{
    display: block;
  }

  .top-container{
    margin-bottom: 0;
  }

  .navigation {
    display: none;
  }

  .overlay {
    display: none;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0;
    transition: left 0.3s ease-in-out;
  }

  .sidebar {
    display: block;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 60%;
    left: -60%;
    transition: left 0.3s ease-in-out;
    top: 0;
    bottom: 0;
    background-color: var(--background-color, white);
  }

  .sidebar.show {
    left: 0;
    transition: left 0.3s ease-in-out;
  }

  .overlay.show{
    display: block;
    opacity: 0.5;
    transition: left 0.3s ease-in-out;
  }

  .sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar li {

    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    /* padding-right: 1rem; */
  }
}

@media screen and (min-width: 601px) and (max-width:  900px) {
  .links {
    padding: 0 2%;
  }
}