/* Footer container */
.footer {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* padding: 40px; */
  height: 300px;
  background-color: #2F8739;
  color: white;
  position: relative;
  width: calc(100% + 2 * var(--large-gutter-margin, 2.5rem));
  left:calc( -1 * var(--large-gutter-margin, 2.5rem));
}


.grid-container {
  /* background-color: greenyellow; */
  display: grid;
  grid-template-columns: 1fr ;
}

.grid-item {
  /* outline: #2F8739 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.grid-item h2 {
  color: white;
  font-weight: 400; 
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 600px) {
  .footer {
    width: calc(100% + 2 * var(--small-gutter-margin, 2.5rem));
    left:calc( -1 * var(--small-gutter-margin, 2.5rem));
    height: 250px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .footer {
    width: calc(100% + 2 * var(--medium-gutter-margin, 2.5rem));
    left:calc( -1 * var(--medium-gutter-margin, 2.5rem));
    }

}