.event {
  /* border-top: var(--primary-color) solid 2px; */
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 250px);
  justify-content: center;
  gap: 1.5rem;
}

.event-description {
  margin-top: 1.245rem;
  grid-column: span 1;
}

.event-description .image-container {
  width: 100%;
  display: flex;  
  justify-content: center;
}

.event-details {
  display: grid;
  grid-template-rows: min-content;
  gap: 20px;
  max-width: 300px;
  border-left: var(--primary-color) dotted 1px;
  padding: 0 1.5rem;
  /* background-color: lightgrey; */
  /* height: 700px; */
  /* font-family: 'Raleway', sans-serif; */
}


.event-details h2, .event-details p {
  margin: 0;
  padding: 0;
}

.event-details p {
  text-align: left;
  /* font-weight: bold; */
  /* font-size: 1.25rem; */
  text-wrap: balance;
  /* padding: 1.5rem; */;
}

.event-description p {
  /* margin-top: 0;   */
}

.event-details-mobile{
  display: none;
}

.event-details-mobile p {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .event-description {
    order: 3;
  }

  .event-details{
    order: 2;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    border: none;
    padding: 0;
    display: none;
  }

  .event-details-mobile{
    display: block;  
  }

  .event-image {
    order: 1;
  }

  .event-details p {
    font-size: 1.5rem;
    /* font-weight: bold; */
    /* padding: 0 2rem; */
  }


}

/* Media query for screens with width between 601px and 1200px */
@media screen and (min-width: 601px) and (max-width:  900px) {
  .grid-container {
    /* grid-template-columns: 1fr; */
  }

  .event-description {
    /* order: 2; */
  }

  .event-details{
    /* order: 1;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 400px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center; */
    /* border: var(--primary-color) solid 1px; */
  }
}