@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@400;700&display=swap');

:root {
  background-color: white;
}

*{
  outline: 2px limegreen solid;
}

body {
  overflow-x: hidden;
  margin: 0 var(--large-gutter-margin , 6rem);
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #2F8739;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: #2F8739;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: #2F8739;
}

@media screen and (max-width: 600px) {
  body{
    margin: 0 var(--small-gutter-margin , 2rem);
  }

  *{
    outline: 2px rgb(50, 40, 159) solid;
  }
}

/* Media query for screens with width between 601px and 1200px */
@media screen and (min-width: 601px) and (max-width:  900px) {
  body{
    margin: 0 var(--medium-gutter-margin , 4rem);
  }

  *{
    outline: 2px rgb(205, 50, 140) solid;
  }
}

*{
  outline: none;
}