@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@700&display=swap');
:root {
  background-color: white;
}

*{
  /* outline: 1px limegreen solid; */
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 var(--large-gutter-margin , 6rem);
  }
}