.events {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  padding: 0 1.5rem;
  margin-top: 1rem;
}

.events h1 {
  text-align: left;
}

.events .grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-auto-rows: auto;
  justify-content: space-between;
}

.events .image-container {
  width: 100%;
  height: 200px;
}

.events img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  /* max-width: 300px; */
}

.events .grid-item  {
  overflow:visible;
}

.events h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-top: 0.5rem;
}

.events a {
  text-decoration: none;
}

.events a:hover {
  text-decoration: var(--primary-color, green) underline ;
}

.events .image-container img {
  transition: transform 0.3s ease; /* Add a smooth transition on hover */
}

.events a:hover img {
  transform: scale(1.1); /* Increase the scale to zoom in (1.1 means 10% zoom) */
}

@media screen and (max-width: 600px) {
  .events .grid-container {
    grid-template-columns:  100%;
  }

  .events {
    padding: 0;
  }

  .events > h1 {
    font-size: 1.5rem;
    /* padding: 0 1rem; */
  }

  .events > h2 {
    font-size: 1.25rem;
    padding: 0 1rem;
  }
}

/* Media query for screens with width between 601px and 1200px */
@media screen and (min-width: 601px) and (max-width:  900px) {
  .events .grid-container {
    grid-template-columns:  45% 45%;
  }

  .events {
    /* padding: 0 3rem; */
  }
}
