.banner {
  width: 100%;
  /* height: 14rem; */
  height: min-content;
  position: relative;
  /* margin-bottom: 1rem; */
  z-index: 0;
  /* filter: brightness(50%); */
}

.banner-overlay::before {
  z-index: 5;
  content: "";
  position: absolute; 
  /* left: 0; */
  width: 100%;
  height: 100%; /* Adjust the height of the gradient to control the focus */
  background: linear-gradient(110deg,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.1));
  background: linear-gradient(110deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.1));
  /* Adjust the alpha (opacity) value of the second color to control the fade effect */
  /* background-color: rgba(0,0,0,0.5); */
}

.banner .banner-overlay{
  /* display: none; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.3);
  /* background-color: rgba(255, 255, 255, 0.4); */
  z-index: -1;
}

.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  /* position: absolute; */
  /* z-index: 100; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  padding: 3rem 0;
  text-wrap: balance;
  z-index: 10;
  /* text-shadow: 5px 5px 5px black; */
  /* color: aqua; */
  /* opacity: 1.5; */
}
.banner-text h1 {
  text-align: left;
  color: var(--primary-color, #d9d9d9);
  color: white;
  font-size: 2.75rem;
  font-weight: 400;
  z-index: 100;
}

.banner-text .title {
  font-size: 3rem;
  /* margin: 0; */
}

.banner-text .subtitle {
  font-size: 2rem;
}


@media screen and (max-width: 600px) {
  .banner-text{
    /* padding: 2rem; */
    /* padding-left: 0.5rem; */
    padding: 2rem 0;
  }

  .banner-text .title {
    font-size: 2rem;
  }

  .banner-text .subtitle {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {

}